<div id="signup_wrapper">
    <div id = "banner">
        <p id="ln1">To our best friend, Feng Ye</p>
        <p id="ln2">This is a private event for Feng Ye's acquaintances only.</p>
    </div>
    <div id = "input_field">
        <p>Name</p>
        <input type="text" id="username" placeholder="(请使用中文真实姓名)"/>
        <p>Email</p>
        <input type="text" id="email" placeholder="(Your email here)"/>
        <p>How do you know Feng Ye?</p>
        <input type="text" id="reason" placeholder="(optional)"/>
        <div id="sent_text">
            Thanks! Your request will be processed as soon as possible.
            <span id="back">Go back</span>
        </div>
    </div>
    <div id="btn">SEND REQUEST</div>
    <div id="contact">
        If you have any questions, please contact us at 
        <a href='mailto:postiles.admin@postiles.com'>postiles.admin@postiles.com</a>
    </div>
</div>
